[Unit]
Description = Node_exporter Service
[Service]
ExecStart=/opt/node_exporter/node_exporter --collector.systemd
SyslogIdentifier=node_exporter

[Install]
WantedBy=multi-user.target